<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wfmyzyz.user.user.mapper.RoleAuthorityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wfmyzyz.user.user.domain.RoleAuthority">
        <id column="role_authority_id" property="roleAuthorityId" />
        <result column="role_id" property="roleId" />
        <result column="authority_id" property="authorityId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="tb_status" property="tbStatus" />
    </resultMap>

</mapper>
